body{
    display: flex;
    flex-direction: column;
}

main{
    min-height: 100vh;
}

.imagen_fija{
    width: 100%;
    height: 350px;          
    object-fit: cover;  
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}    

.card {
    height: 100%;
}

.navbar-nav .nav-link {
  color: #fff !important;                
  transition: color 0.3s ease, border 0.3s ease;
  margin: 0 20px;
  font-size: 1.3rem;
}

.navbar-nav .nav-link:hover {
  color: #ffc107 !important;             
}

.navbar-nav .nav-link.active {
  color: #ffc107 !important;
  border-bottom: 3px solid #ffc107;      
  font-weight: bold;
}

.nav-link.botonMenu.active{ 
  background-color: #343a40 !important; 
  color: white !important; 
  border-radius: 6px; 
  font-weight: bold; 
  padding: 6px 12px; 
}

.navbar-nav{
    gap: 60px !important;
    font-size: 1.1rem;
}

.navbar .btn-outline-light {
    margin-left: auto !important;
    border-color: #ffc107;
    color: #ffc107;
}

.navbar .btn-outline-light:hover {
    background-color: #ffc107;
    color: #212529;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 6px 12px;
}

.botonMenu {
  background-color: #ffc107;
  color: #212529;                     
  border-radius: 8px;
  padding: 0.6rem 1.2rem;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  transition: all 0.3s ease;
}

.botonMenu:hover {
  background-color: #e0a800;          
  color: #fff;                        
}

.botonMenu.active {
  background-color: #d39e00;
  color: #fff;
  box-shadow: 0 0 10px rgba(255, 193, 7, 0.6); 
}

.social-icons a {
  font-size: 2rem;         
  margin: 0 15px;          
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #e0a800;          
}

.page-link.custom-paginacion {
  background-color: #000;
  color: #fff;
  border-color: #000;
  transition: all 0.3s ease;
}

.page-link.custom-paginacion:hover {
  background-color: #ffc107;
  color: #000;
  border-color: #ffc107;
}

.page-item.active .page-link.custom-paginacion {
  background-color: #ffc107;
  color: #000;
  border-color: #ffc107;
}
